<!--
  ~ Copyright (c) 2024, Thomas FOURNIER and contributors. All rights reserved.
  ~ Licensed under the MIT license. See LICENSE file in the project root for details.
  -->

<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Thomas FOURNIER">
    <title>Kindle</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <script src="/vue.global.prod.min.js"></script>
</head>
<body>
<main id="app" class="container-fluid container-md my-3">
    <input v-model="search" name="search" type="text" class="form-control mb-3" placeholder="Search...">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-5">
        <div class="col mb-3" v-for="(book, index) in booksFiltered">
            <a :href="`/dl/${book.path}`" class="card h-100">
                <img :src="book.thumbnail" class="card-img-top object-fit-cover h-100">
            </a>
        </div>
    </div>
</main>
<script>
    const {createApp, ref, unref} = Vue;
    const search = ref();
    const books = ref([]);
    let eventSource = undefined;
    createApp({
        data() {
            return {search, books}
        },
        setup() {
            // fetch("/books.json").then((response) => response.json().then((data) => books.value = data));
            eventSource = new EventSource("/books.json");
            eventSource.onmessage = (ev => {
                const book = JSON.parse(ev.data);
                if (books.value.some(obj => obj.path === book.path)) {
                    books.value = books.value.map(obj => obj.path === book.path ? book : obj);
                } else {
                    books.value = [...books.value, book];
                }
                books.value.sort((a, b) => {
                    if (a.ts < b.ts) return 1;
                    if (a.ts > b.ts) return -1;
                    return 0;
                });
            });
        },
        onUnmounted: (() => {
            console.log('onUnmounted')
            if (eventSource !== undefined) {
                eventSource.close();
            }
        }),
        computed: {
            booksFiltered() {
                let items = unref(books);
                if (unref(search) && unref(search) !== "") {
                    const words = unref(search).split(" ");
                    items = items.filter((obj) => {
                        return Object.values(obj).some(value => {
                            return typeof value === 'string' && words.some((word) => {
                                return value.toLowerCase().includes(word.toLowerCase());
                            });
                        });
                    });
                }
                return items;
            }
        }
    }).mount('#app')
</script>
</body>
</html>